extends layout

block content
  h1= account.accountName
  - var mailto = "mailto:" + account.accountEmail
  p
    a(href=mailto) #{account.accountEmail}
  table
    tr
      th Weapon Name
      th Copies Owned
      th Copies (Goal)
      th Weapon Level
      th Weapon Level (Goal)
      th Unbind Level
      th Unbind (Goal)
      th Refinement Level
      th Refinement Level (goal)
      th Slot
      th Slot (goal)
      th Bonus
      th Bonus (goal)
    each weapon in weapons
      tr
        td= weapon.weapon.weapon1
        td= weapon.copies
        td= weapon.copiesWanted
        td= weapon.weaponLevel
        td= weapon.weaponLevelWanted
        td= weapon.unbind
        td= weapon.unbindWanted
        td= weapon.refine
        td= weapon.refineWanted
        td= weapon.slot
        td= weapon.slotWanted
        td= weapon.bonus
        td= weapon.bonusWanted
    else
      p Something went wrong
  script.
    var addweapon = function() {
      var x = document.getElementById("weaponForm")
      x.style.display = "block";
      x = document.getElementById("weaponBtn")
      x.style.display = "none";
    }
  button(
    onclick="addweapon()"
    id="weaponBtn"
  ) Add Weapon
  div(
    id="weaponForm" 
    style={display: "none"}
  )
    p Weapon form goes here